/database/mongoConfig.js
/client/dist/bundle.js
/client/src/components/Map/mapConfig.js
/node_modules
/package-lock.json
/coverage
/client/src/firebaseConfig.js
/database/dbConfig.js
package-lock.json
.env.local
*.pem
login.sh
mongoConfig.js
